[2017-05-25 14:27] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-05-29 00:03] kMeillet opened #2 "Entry file not found"
I've some trouble when i import the SearchBar component.

[code]

**Got :** Module not found.

The main entrypoint in "package.json" is incorrect  :

[code]

Only a small fix will allow us to use it :) .

[2017-05-29 09:09] #1 closed

[2017-05-29 09:14] leMaik commented on #2
I just checked this and the main entrypoint is correct and the file is there. The problem is that we don't export the search bar as default export, so you need to use it like this (for now):

[code]

[2017-05-30 18:33] FlorianKoerner opened #3 "Copy&Paste error"
See here: https://github.com/TeamWertarbyte/material-ui-search-bar/blob/master/src/index.js#L1

Rating instead of SearchBar

[2017-05-30 19:01] leMaik commented on #3
Good catch, thank you! :see_no_evil:

[2017-05-30 19:07] #2 closed

[2017-05-30 19:07] #3 closed

[2017-05-30 19:11] FlorianKoerner commented on #3
Thanks for the quick fix. Could you publish a new release, please? 😃

[2017-05-30 19:12] leMaik commented on #3
Yeah, I just tried but I can't. :sweat_smile: @saschb2b to the rescue! :rotating_light:

[2017-05-30 20:10] saschb2b commented on #3
Oh god. Such shame. Just published 0.1.1. Thanks for the report.

[2017-06-06 15:02] bernalrs opened #4 "Component should have a disabled prop."
The material-ui-search-bar component should have a disabled prop that is fed into the underlying autocomplete.

Name	Type	Default	Description
disabled   bool	False	disables the underlying autocomplete component.

[2017-06-06 16:59] saschb2b commented on #4
@bernalrs good idea. will implement this. Any ideas on how to style this?
Just using the default disabled style from autocomplete? Or any further visualisation via custom icons

[2017-06-06 19:19] leMaik commented on #4
@saschb2b The icon should become a little transparent (like [here](https://github.com/TeamWertarbyte/material-ui-password-field/blob/master/src/PasswordField.js#L36) to keep it consistent across our components.

[2017-06-07 11:57] bernalrs commented on #4
Hi,

FYI I have implemented the changes and I will submit a pull request soon.

Regards

[2017-06-26 15:07] saschb2b commented on #4
Thanks for the prop.

[2017-06-26 15:07] #4 closed

[2017-07-18 14:18] leMaik opened #8 "Add a light search bar"
Sometimes, this search bar is just too big. Especially for the `AppBar`, a smaller search bar would be useful. Fortunately, I already coded that. :sweat_smile:

![image](https://user-images.githubusercontent.com/5544859/28321822-8a08428e-6bd4-11e7-8199-94228c818a60.png)

![image](https://user-images.githubusercontent.com/5544859/28321858-abe1d28a-6bd4-11e7-881f-d1ab90b0501e.png)

[2017-07-18 14:19] leMaik opened #9 "Cancel searching by pressing Esc"
It's a usual pattern to start searching with Ctrl+F (out of scope for this project) and cancel searching with Esc. The latter could be done by this component.

[2017-07-22 20:42] alexbrazier opened #10 "Material-UI v1.0.0 support"
This module does not work with the new material ui.

It would be good to create a beta version of this that is compatible, ready for the official release of v.1.0.0, which should be soon.

- [x] Port the component (thanks @alexbrazier :tada:)
- [x] Fix styleguidist somehow
- [ ] Publish to npm with `@next` tag

[2017-07-22 22:03] leMaik commented on #10
At the moment, none of our Material-UI components will work with Material-UI v1, as there are a lot of breaking changes. We'll port all of them, this component is a pretty simple one to start with. :+1:

[2017-07-23 10:25] leMaik commented on #10
Thanks for the PR, I just edited this issue to track the progress. :wink:

[2017-07-23 18:48] alexbrazier commented on #10
@leMaik Are you planning to do a release the the `next` tag as it is, or are you planning on making more changes first?

It would still be useful to have a release to use with the beta material-ui, as it currently works, it's just missing auto-complete (not sure if you want to add that back)

[2017-07-23 18:51] leMaik commented on #10
Done :tada: It's v1.0.0-beta.1

[2017-07-23 18:51] #10 closed

[2017-07-23 18:52] alexbrazier commented on #10
Awesome, thanks!

[2017-07-23 18:55] leMaik commented on #10
One more thing, though. Why did you change `e.charCode === 13` to `e.key === 'Enter'`?
Using `charCode` [works on Android browsers](http://caniuse.com/#feat=keyboardevent-charcode) whereas key [does not](http://caniuse.com/#feat=keyboardevent-key), so I don't see a reason to change it?

[2017-07-23 19:00] alexbrazier commented on #10
Yes, for some reason `e.charCode` always comes up as `0` for all keys. (Using chrome 59 mac)

[2017-07-23 20:03] leMaik commented on #10
Virtually all except Android :wink: I changed that line so that it should work on _every_ browser, including Chrome 59 on mac. beta 2 is coming in a few minutes.

[2017-07-23 20:39] alexbrazier commented on #10
👍 - As far as I can tell `e.keyCode` is meant to work in all browsers, including Android, it's `e.key` and `e.charCode` that only work in some, but your change looks good 😄

[2017-07-23 20:49] leMaik commented on #10
Oh, yes... I misread that. :smile:

[2017-08-16 17:25] bachrc opened #13 "Auto-complete results shows with no data source"
On the version 0.3.0, I'd like to test the default example without any data sources :

[code]

And with this basic example, I still get this

![Example](http://i.imgur.com/FMpPrVp.gif)

Could something be interfering ?

[2017-08-16 19:36] leMaik commented on #13
Looks like we should only use `AutoComplete` if a `dataSource` is configured. Still a strange issue as the popover shouldn't even open if there are no search results.

[2017-08-16 19:38] bachrc commented on #13
Isn't it possible to just disable the autocomplete function for the search bar ?

[2017-08-16 19:47] leMaik commented on #13
No, but it _should_ be disabled when there is no `dataSource` configured. It's a bug.

[2017-08-23 20:37] tgoldenberg opened #14 "Ability to pass in style props to <IconButton />"
I want to modify the styles of the `<IconButton />` that contains the search and close icons, but I don't believe this gives the ability to do so.

Could you expose `searchIconButtonStyles` and `closeIconButtonStyles`?

Or you could have the default `searchIcon` be an `<IconButton />` component, which can be overridden.

Thank you.

[2017-08-23 21:30] tgoldenberg opened #15 "Any way to autoFocus?"
Any way to have the input focus automatically?

Not able to get any `ref` so unsure how to activate `focus`

Thanks.

[2017-08-24 07:57] #15 closed

[2017-08-24 07:57] leMaik commented on #15
Just added `focus()` and `blur()` methods, so you can get a ref and call `.focus()` right after the component is mounted.

[2017-08-24 08:00] leMaik commented on #13
@bachrc I can't reproduce this using the latest version and material-ui v0.19. :open_mouth:

[2017-08-24 08:15] #14 closed

[2017-08-24 18:38] tgoldenberg commented on #15
Could you give an example? I tried this and not getting anything:

[code]

[2017-08-24 18:40] tgoldenberg commented on #15
The `ref` doesn't show a `focus` attribute either, so not sure how this supposed to be implemented:

![link](https://www.dropbox.com/s/vxwdhyureejs8wc/Screenshot%202017-08-24%2014.39.23.png?dl=0)

[2017-08-24 18:41] tgoldenberg commented on #15
I think you something like this in the `constructor` ?

[code]

[2017-08-24 18:46] leMaik commented on #15
The `ref` has a `focus` method in its prototype. And nope, I don't need to bind `this` in the constructor.

You might not be able to call `focus()` directly in the ref callback. Just try to save the ref in your class and call it in the `componentDidMount` handler. Just tried this and it works fine.

[2017-08-26 08:55] leMaik commented on #14
I added a `iconButtonStyle` prop in v0.4.0.

[2017-08-26 20:52] tgoldenberg commented on #15
Got it, thanks. Turns out I was still on 0.3.0, upgrading fixed it for me.

Also, had to add a short `setTimeout` for it to work effectively, just FYI.

[2017-08-30 14:29] BearandYoon opened #16 "onRequestSearch, value property usage"
I am trying to use material-ui-search-bar component but I can't get value inputed from onRequestSearch and value property.
                                <SearchBar
                                    onChange={this.onChangeSearch}
                                    onRequestSearch={this.onSearchRequest}
                                    value={this.state.searchValue}

[2017-09-01 13:42] leMaik commented on #16
This is a _controlled_ component, you need to save the input value in the state: `onChange={(value) => this.setState({ searchValue: value })`

[2017-09-02 13:30] zhangwei900808 opened #17 "when I add "material-ui-search-bar": "^1.0.0-beta.3" and npm run dev it's error!"
[code]

[code]

[2017-09-03 08:01] zhangwei900808 opened #18 "no placeholder ?"
I want to use Chinese in my component but I cant find it ,no placeholder?

[2017-09-03 09:19] leMaik commented on #18
I'm afraid I don't understand what you mean with "no placeholder"?

[2017-09-03 09:21] leMaik commented on #17
The error message already tells the problem: `sh: cross-env: command not found`
Looks like cross-env is not correctly installed for some reason.

[2017-09-03 09:21] #17 closed

[2017-09-03 10:08] zhangwei900808 commented on #18
![image](https://user-images.githubusercontent.com/4385154/30002070-d7480836-90d2-11e7-8996-9df1d5fca7da.png)
I mean is this name I want to change

[2017-09-03 10:09] zhangwei900808 commented on #17
thanks a lot ,but why I install material-ui-search-bar is error ,but before is worked!

[2017-09-03 10:10] leMaik commented on #18
Allright, it's `hintText`.

[2017-09-03 10:10] leMaik commented on #17
Don't know, there's some weird yarn-install-logic stuff going on here. :smile:

[2017-09-04 01:04] zhangwei900808 commented on #18
![image](https://user-images.githubusercontent.com/4385154/30008242-f7812c68-914f-11e7-8620-668dc7ac8d62.png)
<SearchBar
                                hintText="搜索"
                                onChange={() => console.log('onChange')}
                                onRequestSearch={() => console.log('onRequestSearch')}
                                className={classes.searchBar}

[2017-09-04 09:16] leMaik commented on #18
This is just a warning. We'll fix that, but it should still work and set the placeholder text.

[2017-09-05 02:10] zhangwei900808 commented on #18
"material-ui-search-bar": "^1.0.0-beta.3",

[2017-09-16 07:33] treavies opened #19 "working with material-ui v1"
hi i`m working with material-ui v1 i see u have fixed this bug for material-ui v1. but i`m still newbie so i don`t know how to update this npm plugin with the latest version of your work.

please help me. thankyou

[2017-09-16 09:00] leMaik commented on #19
You need to install the latest beta version using `npm install --save material-ui-search-bar@beta`.

[2017-09-17 18:16] harsha31 opened #20 "how to apply styling (control height and width) for autocomplete view?"

[2017-09-17 18:47] leMaik commented on #20
Since our component internally uses the [AutoComplete component](http://www.material-ui.com/#/components/auto-complete) and passes all unknown props through, you can use `menuStyle` prop to customize the autocomplete menu style. You may get a _unknown prop 'menuStyle'_ warning, but you can ignore that.

[2017-09-17 19:03] harsha31 commented on #20
<SearchBar value = {this.state.searchKey}
                    style = {{"width":800}}
                    onChange={(value) => {this.setState({searchKey:value})}}
                    onRequestSearch={this.onSearchRequest.bind(this)}
		    dataSource = {this.state.source}
		    menuStyle = {{width:200}}
/>.
It is not working for me.

[2017-09-17 19:20] leMaik commented on #20
@harsha31 Try `popoverProps={{ style: { width: 200 } }}`, that might work.

[2017-09-17 19:25] harsha31 commented on #20
@leMaik Thanks. Working fine

[2017-09-17 19:25] leMaik commented on #20
@harsha31 Great! You're welcome. :+1:

[2017-09-17 19:25] #20 closed

[2017-09-20 09:48] toolaugh commented on #19
I have the same questions. Recently, I have change version to v1. There are some changes in components with new version. It does not run  ....

[2017-09-20 10:26] leMaik commented on #19
@toolaugh Please read the comment above. You need the latest beta version of this plugin in order to use material-ui v1.

[2017-09-20 10:28] toolaugh commented on #19
@leMaik thanks.

[2017-09-21 10:42] harsha31 opened #21 "Autocomplete not working with material-ui v1"
Installed  search bar npm install --save material-ui-search-bar@beta. auto-populating is not working.

[code]

[2017-09-21 11:07] leMaik commented on #21
Unfortunately, `AutoComplete` was removed in material-ui v1 and thus isn't available anymore in this search bar. :confused:

[2017-09-21 11:08] leMaik commented on #13
@bachrc It's been a few weeks. Are you still having problems with this?

[2017-09-21 11:08] saschb2b commented on #21
We need to refactore it with something like https://github.com/moroshko/react-autosuggest

[2017-09-21 11:09] leMaik commented on #21
@saschb2b We might use react-autosuggest to create a new _material-ui-legacy-autocomplete_ component that just behaves like the old `AutoComplete`.

[2017-09-22 12:05] harsha31 commented on #21
@leMaik Autosuggest is added in material-ui v1. When can we expect autocomplete in searchbar??

[2017-09-22 12:39] leMaik commented on #21
@harsha31 Where? I don't see an `AutoComplete` component in the v1 branch. There is only a demo on how to implement it using react-autosuggest.

There is no ETA for updating this component. It will be updated when we have time and want to do it, or someone submits a PR. :wink:

[2017-10-05 15:26] nwshane opened #22 "Allow passing in handleCancel prop"
The current version creates a `handleCancel` callback that is hardcoded. I'm using redux in my application, so I'd like to pass a `handleCancel` callback in as a property which will set the value of `state.search` to an empty string.

[2017-10-05 15:35] leMaik commented on #22
We already call the `onChange` handler with an empty string in the `handleCancel` method, so you just need to handle that.

[2017-10-05 15:59] nwshane commented on #22
@leMaik Ah, I think I see the problem.`onChange` is called directly on the event object in the `handleInput` method, but `onChange` is called with an empty string in the `handleCancel` method. When I click the cancel button, my `onChange` handler is expecting an `event` object with `event.target.value`, and so I get the error `Cannot read property 'value' of undefined`.

[2017-10-05 16:01] nwshane commented on #22
@leMaik How about this for a fix? Instead of...

[code]

Do this:

[code]

[2017-10-05 16:11] nwshane commented on #22
@leMaik I've been trying to link a local, forked version of this repository in order to test this change (and to potentially make a PR), but I'm having trouble doing so. I'm getting this error:

[code]

It doesn't look like multiple copies of React are loading (output from `yarn list react` is just one copy). Could this have something to do with the AutoComplete ref? Sorry, I'm a little out of my

[2017-10-05 16:21] leMaik commented on #22
@nwshane I'd prefer to always call `onChange` with the new value instead. That would be a breaking change, but a PR would be highly appreciated! :+1:

[2017-10-16 06:42] bklever opened #23 "Allow for IconButton style overrides in the material v1 build"
Current master allows for overriding iconButtonStyle with a prop. Any chance of adding the same prop to the beta build, or just allow for the current styles prop to override them?

[2017-10-22 11:06] leMaik commented on #23
We'll do this by allowing to override the internal styles using the `classes` prop, the same way as material-ui@1.0.0-beta does it. :+1:

[2017-10-24 04:01] strin opened #24 "Turn off spellcheck"
![image](https://user-images.githubusercontent.com/2183232/31924348-503f76be-b835-11e7-9d81-be19da4a73e5.png)

Currently, there is no way to turn off spellcheck. The HTML5 standard requires specify "spellcheck=false" in <input/>

See

https://stackoverflow.com/questions/4524000/turn-off-chrome-safari-spell-checking-by-html-css

[2017-10-24 08:00] saschb2b commented on #24
@strin Good point, google does that, too! Will add that in the coming days.

[2017-11-02 13:41] saschb2b commented on #24
Version 0.4.1 does have grammar and spelling check disabled by default.

[2017-11-02 13:41] #24 closed

[2017-11-04 00:45] aronlmin opened #25 "Autocomplete not showing up"
Doesnt seem to want to show up, not getting any errors, using it the same way the live example shows it, just passing it to a redux action

[code]

here is a screen recording

![](http://g.recordit.co/L12GiO4WZF.gif)

[2017-11-04 18:18] leMaik commented on #25
This might be because we use `onClick` instead of `onTouchTap`, which was changed in material-ui v0.19.x :thinking: Please either update material-ui (recommended) or use material-ui-search-bar@0.3.0 (not recommended).

Unfortunately, we are only able to support the latest (beta) version of material-ui.

[2017-11-06 20:16] aronlmin commented on #25
unfortunately updating to v0.19.4 didn't do the trick 😕, are you referring to IconButtons? I'm not seeing where the source code is using onClick outside of those components

[2017-11-07 08:54] leMaik commented on #25
Okay, we will look into this. Please don't close this until it is resolved. :wink:

[2017-11-09 12:23] QuantumInformation opened #26 "Usage with typescript"
Could we have some types for this?

[2017-11-09 12:43] leMaik commented on #26
:+1: PR welcome!

[2017-11-14 18:39] recurrence commented on #26
Ask and Ye shall receive :)

[2017-11-14 18:57] QuantumInformation commented on #26
I made my on stopgap component:

[code]

[2017-11-14 19:26] recurrence commented on #26
That certainly works instead :)

[2017-11-15 13:57] BenAhlander opened #28 "How to get rid of box-shadow"
I know the shadow is partly what makes this material but I need this to be more flat for this particular project. is there a way to do that?

[2017-11-15 14:00] BenAhlander commented on #28
boxShadow: "none"

[2017-11-15 14:00] #28 closed

[2017-11-15 20:06] d0bz commented on #23
If I use iconButtonStyle as prop then same prop is added to autocomplete input which creates error into console as unknown prop.
SearchBar.js inputProps = _objectWithoutProperties array to exclude should have iconButtonStyle key.

Or am i using this wrong?

[2017-11-15 20:50] leMaik commented on #23
@d0bz It's not yet possible to use that prop in the material-ui v1.0.0 build. That's why this issue is not closed yet.

[2017-11-20 00:17] tifa2UP commented on #21
+1.

Had to downgrade to Material-UI v0.18 for this.

[2017-11-20 23:18] afparsons commented on #21
Am I to understand that this package in its current state (even `material-ui-search-bar@beta`), will absolutely **not** function with any v1 of `material-ui` (ex: `material-ui 1.0.0-beta.21`) ?

[2017-11-20 23:32] leMaik commented on #21
@afparsons It will work, but auto-complete won't work at the moment. We are really looking forward to anyone who wants to implement this. I mean, you obviously need it, so why not take some time and submit a PR? :smiley:

[2017-11-20 23:41] afparsons commented on #21
@leMaik  Alright, time to show my cards. I'm a total noob here. I'd love to submit a PR, but 1) timeliness and 2) quality would both be of concern :laughing: . Perhaps in the next two weeks I could take a look, as it seems to not be a priority for you all.

Could I have a 30 second explanation of what `auto-complete` is and for what it is needed? Or point me to the correct doc... ?

[2017-11-21 09:00] leMaik commented on #21
@afparsons It's a popup that will open below the search bar and show results/suggestions as you type (like your favorite search engine does). Material-UI 0.x had this, [here is a demo](http://www.material-ui.com/#/components/auto-complete).

[2017-11-21 11:18] leMaik commented on #25
@aronlmin We can't reproduce this, see the demo at https://mui.wertarbyte.com/#!/SearchBar/3

Are you accidentially remounting the component while typing somehow? :thinking:

[2017-11-21 11:21] leMaik commented on #18
@zhangwei900808 Sorry for the late response. :cry: It's `placeholder` in the 1.0.0-beta version.

[2017-11-21 11:21] #18 closed

[2017-12-09 20:59] ReneCode commented on #16
I aggree to Bearand.
the ``onChange```callback gets the new value - that is fine.
but the ```onRequestSearch```does not.

or please explain me what a _controlled_ component is

[2017-12-09 21:07] leMaik commented on #16
@ReneCode You need to store the value in your state in `onChange` and then use that value in your `onRequestSearch` handler.

[code]

[2017-12-19 10:00] alex-hudenko opened #29 "Invalid prop `color` of value `#9e9e9e` supplied to `SvgIcon`"
Hi there,
Looks like there is problem with props passed to icon component
[code]

[2017-12-22 23:31] sareh88 opened #30 "Failed to compile. search bar"
<SearchBar
            onChange={() => console.log('onChange')}
            onRequestSearch={() => console.log('onRequestSearch')}
            style={{
              margin: '0 auto',
              maxWidth: 800
            }}
          />

i got this error messege when i run my app,,, i am using material ui 1
Failed to compile.

./node_modules/material-ui-search-bar/lib/components/SearchBar/Searc

[2017-12-22 23:36] saschb2b commented on #30
The stable version of this component is not yet mui 1.0 compatible.
AutoComplete is not present in mui 1.0 only in a separat package.
Try our next branch via `npm i --save 1.0.0-beta.3`
It doesn't have auto complete.

You're welcome to submit a PR for this port :)

[2017-12-22 23:39] sareh88 commented on #30
thanks for fast replay :+1:

[2017-12-26 16:02] #30 closed

[2017-12-26 16:04] #19 closed

[2017-12-26 17:17] jackmoody11 opened #31 "Is there a simple way to implement this into a Rails app?"
I was wondering what needs to be done to use this in a Rails app? Mostly just need to know which files to include in my javascript folder and what HTML I should write to render the SearchBar.

[2017-12-26 17:38] leMaik commented on #31
This is a [React](https://reactjs.org/) component that uses [Material-UI](https://material-ui-next.com/). If you're using both in your front-end stack, you can use this. There are plenty good React tutorials out there. Try it, it's fun! :+1:

Here's a tutorial on how to use React with Ruby on Rails: https://medium.com/react-on-rails/free-tutorial-how-to-use-react-with-webpacker-and-rails-5-1-92af8

[2018-01-03 08:54] #29 closed

[2018-01-03 08:54] #26 closed

[2018-01-04 00:39] immiao opened #33 "Can't resolve 'material-ui/AutoComplete'"
I just tried the basic code:
[code]

However I get this:

[code]

Anything going wrong?

[2018-01-04 00:50] #33 closed

[2018-01-04 08:54] leMaik commented on #33
@immiao You closed this… Do you still need help?

[2018-01-04 11:39] immiao commented on #33
I've switched to another library. Thanks! But it would be good to know what's going on.

[2018-01-04 14:56] leMaik commented on #33
You used the wrong version. I guess you're using material-ui 1.0-beta with material-ui-search-bar@latest. You need to use `npm i --save material-ui-search-bar@beta` to install the beta version that is compatible with material-ui 1.0

[2018-01-07 13:34] redouane59 opened #34 "Failed to compile"
Hello, I have this error message :

I tried everything
npm i --save material-ui-search-bar
npm i --save material-ui-search-bar@beta
npm i --save material-ui-search-bar@1.0.0-beta.3

What did I do wrong ?

[2018-01-07 13:36] leMaik commented on #34
Which version of material-ui are you using?

[2018-01-07 13:39] redouane59 commented on #34
I just did a npm install material-ui and I think i get the version 0.20

[2018-01-07 13:40] leMaik commented on #34
Which version of material-ui do you want to use? If you want to use material-ui 0.x, you need material-ui-search-bar@latest. If you want to use material-ui 1.0.0 (preferred :wink:), you need to use material-ui-search-bar@beta.

[2018-01-07 13:43] redouane59 commented on #34
It works ! Thank you very much :)

[2018-01-07 15:06] redouane59 commented on #34
In fact i don't have

[2018-01-07 15:22] leMaik commented on #34
This is not an issue about this component. Please follow [this getting started guide](http://www.material-ui.com/#/get-started/usage) for Material-UI. They also have a Gitter chat room and a stackoverflow tag to help you. :+1:

[2018-01-07 15:22] #34 closed

[2018-01-30 09:17] adam-nielsen commented on #16
Definitely would be helpful to have this snippet in the example given in the `README`!

[2018-02-02 23:28] leMaik commented on #16
@adam-nielsen It's a very basic thing to do in React, but feel free to add some usage examples to the readme via a PR. :wink:

[2018-02-12 23:25] somarjun opened #35 "SearchBar for material-ui 1.0.0-beta.33"
I'm trying to use this search bar and the latest materialUI doesn't actually have an AutoComplete component
Compilation error: Module not found: Can't resolve 'material-ui/AutoComplete' in '/Users/../node_modules/material-ui-search-bar/lib/components/SearchBar'

[2018-02-22 13:29] roshtov6 commented on #35
@somarjun I ran into the same issue, and this solved the case for me https://github.com/TeamWertarbyte/material-ui-search-bar/issues/33 :

[2018-02-23 01:12] #35 closed

[2018-02-25 18:49] #31 closed

[2018-03-02 21:12] kehoej opened #36 "Need an option for a case insensitive search"
We need an option for case insensitive searches.

[2018-03-07 18:53] pankaja92 opened #37 "How to fire onRequestSearch"
This is my code snippet

[code]

How can I fire `onRequestSearch` function? When I enter a text, the search icon disappears and clear icon appears. So how can I fire the function?  If I put another text field in the component without any use( no onChange event or anything) I can run the `onRequestSearch` on **SearchBar** by pressing _Enter_
. But if I remove that text field and press enter when th

[2018-03-10 19:32] gauravdhiman commented on #21
I see there is a v1.x.x beta tag on repo: https://github.com/TeamWertarbyte/material-ui-search-bar/tree/v1.0.0-beta.4. It should work with material-ui 1.x.x, but could not find that package on NPM. Do you have that release or not yet ?

Please let me know how to install v1.x.x of this repo using NPM or GIT.

[2018-03-10 20:25] saschb2b commented on #21
@gauravdhiman just use the pre-release channel with the @beta tag
`npm install material-ui-search-bar@beta`

[2018-03-12 17:54] KaushalyaPradeep commented on #21
Autocomplete not working even with `"material-ui-search-bar": "^1.0.0-beta.4",`

[2018-04-16 18:44] hrdymchl commented on #36
+1 for this

[2018-04-23 14:35] highskillzz opened #38 "How to increase the font Size as inline style object is not working"
I am unable to increase the font size through the inline object, if i try to do the seach text is going below but the text size is not working

import React, { Component } from "react";
import { connect } from "react-redux";
import { withRouter } from "react-router-dom";
import { SearchTerm } from "../actions/index";
import Button from "material-ui/Button";
import SearchBar from "material-ui-searc

[2018-04-23 22:53] sergiolpf opened #39 "debounce time"
Hi all,

I would like to suggest that you add a debounce functionality, I am using the search and calling the api on every onChange and had to use lodash debounce method in order to make it work as I wanted.

Cheers

[2018-04-26 15:50] phdowling opened #40 "Plain <SearchBar/> component is so slow it almost crashes the tab"
I have a very simple component like this:

[code]

When I start this and type anything, the letters appear literally seconds after I type and the whole thing is incredibly unresponsive. What's going on?

The app is created using `create-react-app`. I installed via `npm i --save material-ui-search-bar`.

[2018-04-27 12:27] leMaik commented on #40
Uhm… Is your component really "like this" or more complex? :wink: It works pretty decent for us.

What you describe sounds like everything re-renders whenever you type in a new letter.
Are you using Redux and connected the search field to it? Are you setting some state and re-rendering a very large part every time the content changes?

[2018-04-27 12:31] leMaik commented on #37
I'm afraid this took a while. I'll close this but feel free to re-open if you have further questions.

That sounds like a bug in your code, because this component clearly calls onRequestSearch without calling onChange with no text before. Unfortunately, I can't reproduce this. :thinking:

[2018-04-27 12:31] #37 closed

[2018-04-27 12:33] leMaik commented on #25
I'll close this since I wasn't able to reproduce this and there was no feedback after several months. Feel free to re-open this with a code snippet that can reproduce this issue. :+1:

[2018-04-27 12:33] #25 closed

[2018-04-27 12:35] leMaik commented on #39
Good idea, but this can (and should!) be done on the user's (e.g. your) side. Here is some code to show how it could be done.

[code]

[2018-04-27 12:35] #39 closed

[2018-04-27 12:38] phdowling commented on #40
The code is copy-pasted, no redux in the whole app. The SearchView Component was rendered inside a simple component as well (react-router with two routes, material-ui, bootstrap imported..)

With an open developer console, I actually see a bit more than I originally reported: exceptions are being thrown for every letter typed:
[code]

Seems like that could be the cause. I'm quite new to React (jus

[2018-04-27 12:39] leMaik commented on #36
You can use `inputProps` to pass additional props to the underlying `AutoComplete` component. You can use this to pass custom filters, as shown [here](http://www.material-ui.com/#/components/auto-complete). `<SearchBar inputProps={{ filter: yourFilterFunction }} />`

[2018-04-27 12:39] #36 closed

[2018-04-27 12:41] leMaik commented on #40
Looks like you're not passing in a `onChange` handler; it should be _a function_ that is called whenever the input changes.

[2018-04-27 12:45] leMaik commented on #38
I don't see where you are trying to increase the font size? You are just resizing the search bar to 8vh (that's 8 percent of the viewport height and really not what you want :wink:). Try setting `fontSize: 8px` for a smaller font size.

[2018-04-27 16:26] leMaik commented on #13
It's been a while, I'll close this. Feel free to re-open this issue.

[2018-04-27 16:26] #13 closed

[2018-04-29 16:40] highskillzz commented on #38
@leMaik I thought that your answer would solve the problem but this is happening if i set the font size to 70px, I set it 70 to see the effect clearly but it doesnt increase the font size instead acts similar to margintop. Thanks btw
![image](https://user-images.githubusercontent.com/20688709/39408816-d9362046-4bf9-11e8-9667-40c9737431f3.png)

[2018-04-29 17:35] highskillzz commented on #38
@leMaik I am using material-ui 1.0.0

[2018-04-29 17:38] leMaik commented on #38
@highskillzz This component, unlike most of our our components, doesn't use `withStyles` yet (ping @saschb2b). Thus, you'll have to "hack" it by using `inputProps={{ className: <put your class to change the font size here }}` for now. We'll fix this in the next beta. You can't change `style` with `inputProps`, though, as we overwrite that.

[2018-04-29 17:45] highskillzz commented on #38
@leMaik is this how you meant?
<SearchBar
            onChange={e => {
              this.setState({ terms: e });
            }}
            onRequestSearch={e => this.handleSubmit(e)}
            name="terms"
            value={this.state.terms}
            inputProps={{ fontSize: "80px" }}
            style={{
              margin: "0 auto",
              maxWidth: 900,
              height: "8v

[2018-04-29 17:49] leMaik commented on #38
@highskillzz No. Set a classname that sets the font size, e.g. define a class in your styles object and then use it with `inputProps={{ className: classes.yourClass }}`.

[2018-04-30 15:40] highskillzz commented on #38
export default withRouter(
  connect(mapStateToProps, MapDispatchToProps)withStyles(styles)(Searchbar)
);
this doesnt work

[2018-04-30 16:15] highskillzz commented on #38
but @leMaik it made a side effect
![image](https://user-images.githubusercontent.com/20688709/39437812-a2cdc92a-4cbf-11e8-9e25-9ef3dca2bbab.png)
and I am unable to solve it even if I input the width into the inputProps like this

const styles = {

    margin: "0 auto",
    maxWidth: 900,
    height: "8vh",
    fontsSize:{fontSize:"20px",width:"75%"}

};

<SearchBar
            onChange={e => {

[2018-04-30 21:38] leMaik commented on #38
Glad you solved this.

[2018-05-07 16:16] PabloDinella opened #41 "Can't use onFocus or onBlur"

[2018-05-15 10:33] haemse opened #42 "beta does not receive props like dataSource when using material-ui@next"
[code]

In Browser:
index.js:2178 Warning: React does not recognize the `**dataSource**` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `datasource` instead. If you accidentally passed it from a parent component, remove it from the DOM element.
    in div (created by Input)
    in Input (created by WithStyles(Input))
    in Wit

[2018-05-15 11:05] leMaik commented on #42
Please remove swear words in your example the next time you create an issue.

[2018-05-15 11:06] #42 closed

[2018-05-15 18:06] sschiang opened #43 "How do i change the icon height and width?"
I'm able to change the height and width of the bar with:

        <SearchBar
          onChange={() => console.log('onChange')}
          onRequestSearch={() => console.log('onRequestSearch')}
          style={{ height: 30, width: 600 }}
        />

but the height of the search and close icon is too large. Is there anyway to change just the style for them without passing in new icons in closeIcon

[2018-05-15 19:37] haemse commented on #42
oh, sorry, I forgot I had those example strings in there, sorry ;-)

just figured out it has been removed. thanks though

[2018-05-17 19:29] leMaik commented on #41
Good point, there is no way at the moment. :scream: We'll fix that.

[2018-05-17 19:32] leMaik commented on #43
Are you using Material-UI 1.0.0? We could add a `classes` property to change the styles. Otherwise, you'll have to specify the entire icon (it's a more powerful way, though).

[2018-05-17 20:46] #41 closed

[2018-05-17 22:06] leMaik commented on #43
You can now add a custom icon classname using the `classes` property, i.e. `classes={{ icon: classes.searchBarIcon }}`. You need to use `withStyles` to get a `classes` property injected, similar to all other Material-UI components in v1.0.0

[2018-05-17 22:06] #43 closed

[2018-05-17 22:16] leMaik commented on #23
This is possible in the next release by using `withStyles` in your component and supplying a classname with `classes={{ iconButton: classes.yourIconButtonStyle }}`

[2018-05-17 22:16] #23 closed

[2018-06-16 13:14] leMaik commented on #16
@adam-nielsen It's a bit late, but I just added the example to the readme. :sweat_smile:

[2018-06-16 13:14] #16 closed

[2018-06-16 13:15] leMaik commented on #40
I'm closing this due to inacticity. @phdowling Feel free to open a new issue if you have any further questions. :+1:

[2018-06-16 13:15] #40 closed

[2018-06-18 00:11] adam-nielsen commented on #16
@leMaik Many thanks!  Sorry I didn't get time to do a PR for it!

[2018-06-25 14:09] caroe233 commented on #43
Hi,
it seems that this is not possible for Typescript. Any chance to extend the description of SearchBar to something like React.ComponentType<SearchBarProps & WithStyles>'icon'>> ? Or am I missing out the right way of doing this here?

Thanks
Caroline

[2018-06-28 16:31] CharlyJazz opened #46 "Add Label Props"
I need change the initial 'Search' string in the field, maybe i can create a PR?

[2018-07-04 07:19] maibono opened #48 "onRequestSearch should not be required"
Currently I am getting error that onRequestSearch is required, but I don't have any functionality for that feature in my app

[2018-07-08 20:52] eavichay commented on #9
@leMaik is this project abandoned? seems like no reply for the PR...

[2018-07-08 20:59] saschb2b commented on #9
@eavichay I just merged your PR. thanks for that!

[2018-07-08 20:59] #9 closed

[2018-07-09 04:52] felipeaugustox opened #49 "hintText not working (but placeholder works)"
When I add hintText value, it's not working, I tried placeholder, and it seems to be the correct field name ...

[2018-07-10 10:32] mwinner313 opened #50 "The context `muiTheme` is marked as required in `Paper`, but its value is `undefined`."
The context `muiTheme` is marked as required in `Paper`, but its value is `undefined`.
    in Paper (created by SearchBar)

what cause this error ? i allready wrapped my components with muiThemeProvider everything is fine .

[2018-07-10 10:35] saschb2b commented on #50
@mwinner313 can you post a sample code?
I assume you are using the mui 1.0 searchbar component and your app still uses mui beta.

[2018-07-12 22:08] mwinner313 commented on #50
yes and sorry , i did fix it

[2018-07-12 22:08] #50 closed

[2018-07-13 09:22] whitebird commented on #15
Is it possible that this doesn't work anymore with 1.0.0-beta.7 ?

If added the following:
[code]

then in `componentDidMount()`

[code]

But no dice. When logging `this.searchBar` it doesn't show the `focus()` function, also after a timeout.

[2018-07-20 19:09] benamatare commented on #49
Component source code is not updated, or was redacted.. placeholder is working.

[2018-07-20 19:10] benamatare commented on #48
onRequestSearch is submit, you're using a search bar that doesn't submit anything? You could just plug a do-nothing function to alleviate that.

[2018-07-20 19:36] felipeaugustox commented on #49
@benamatare yep, placeholder works, but there isn't placeholder field at the docs, but I don't know if the incorrect is at the docs (and we should use placeholder instead) or at the code.

[2018-07-21 10:01] leMaik commented on #49
It's incorrect in the docs (they weren't updated for the v1 port). I'll fix that.

[2018-07-21 10:09] #49 closed

[2018-07-21 10:21] leMaik commented on #48
@benamatare is right. We made this prop required so that people know when they are not using this component as intended (helps finding errors). If you really don't want to handle submitting the search form, use a no-op function.

[2018-07-21 10:33] leMaik commented on #48
Just realized that if you're using the `onChange` prop to search while typing, `onSubmit` actually _is_ not required.

[2018-07-21 10:40] #22 closed

[2018-07-21 10:40] #48 closed

[2018-07-31 22:05] lexprom commented on #21
These commands help me:
`yarn add @material-ui/core`
`yarn add @material-ui/icons`
Idk my answer is relevant or not. But I hope I helped someone :smile:

[2018-08-03 14:27] leMaik commented on #48
@maibono It's not required in beta 8: https://github.com/TeamWertarbyte/material-ui-search-bar/blob/v1.0.0-beta.8/src/components/SearchBar/SearchBar.js#L201

That said, releasing beta 9 was on my todo-list anyway, so I'll do that.

[2018-08-23 18:43] wfehrnstrom opened #55 ""TypeError: Cannot read property 'prepareStyles' of undefined" on inclusion of SearchBar component"
I've using material-ui-search-bar v0.4.2.  As part of my project, for my root node I include a MuiThemeProvider from material-ui like so:
`const theme = createMuiTheme(
{
  overrides: {
    /* No Fillets on buttons */
    MuiButton: {
      root: {
        borderRadius: 0,
        fontWeight: 400,
      }
    }
  },
  palette: {
    primary: {
      main: '#FF5959',
    },
  },
  typography: {

[2018-08-27 17:11] frodestorhaug opened #56 "console warning"
warning.js:33 Warning: React does not recognize the `cancelOnEscape` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `cancelonescape` instead. If you accidentally passed it from a parent component, remove it from the DOM element.

Unknown event handler property `onCancelSearch`. It will be ignored.

[2018-08-28 07:38] leMaik commented on #56
Thanks for reporting this. The good thing is that these are only warnings. :grimacing:

[2018-08-28 07:39] #56 closed

[2018-08-28 16:17] abedmurrar opened #57 "Clearing search field"
Can you bring back the onClear Props ?
because when i click the close button that clears the search field, it doesn't change the state nor when using onChange props it doesn't fire. so the state remains the same

[2018-08-28 16:18] leMaik commented on #57
I don't know why it doesn't clear the search field, seems to be an issue on your side? :thinking:

The code is pretty clear: https://github.com/TeamWertarbyte/material-ui-search-bar/blob/master/src/components/SearchBar/SearchBar.js#L93

[2018-08-28 16:31] abedmurrar commented on #57
it does clear the string but let me explain
i have a big container and the search bar is a child component in it (seperate component), so the state is saved in the container, to change the state i use handleChangeQuery function and i pass it as props to the search component then i make onChange=props.handleChangeQuery .. all good.now when i type a string of characters then press close button,my st

[2018-08-28 16:40] abedmurrar commented on #57
i was using older version, didn't know about onCancelSearch

[2018-08-28 16:40] #57 closed

[2018-08-29 11:58] nishant-ibono opened #58 "Warning Unknown event handler property `onCancelSearch`."
i have assigned a function to onCancelSearch prop which resets the results when cancelled. Its working fine but I am getting this  warning:

    in div (created by Input)
    in Input (created by WithStyles(Input))
    in WithStyles(Input) (created by SearchBar)
    in div (created by SearchBar)
    in div (created by Paper)
    in Paper (created by WithStyles(Paper))
    in WithStyles(Paper) (cre

[2018-08-30 12:11] maibono commented on #58
Fixed in the latest release, you can close this.

[2018-08-30 13:33] leMaik commented on #58
Allright, glad you could solve this. :+1:

[2018-08-30 13:33] #58 closed

[2018-08-30 13:34] leMaik commented on #55
Which version of material-ui are you using?

[2018-08-30 21:34] wfehrnstrom commented on #55
@material-ui/core v1.4.3

[2018-08-30 21:40] leMaik commented on #55
@wfehrnstrom The 0.x versions of material-ui-search-bar are incompatible with material-ui 1.0.0 and later, and npm should have told you so. :wink:

Please use material-ui-search-bar 1.0.0-beta (`npm i --save material-ui-search-bar@beta`) instead. Feel free to open new issues if you encounter any issues with that version.

[2018-08-30 21:40] #55 closed

[2018-09-04 10:33] frodestorhaug opened #59 "material-ui/core and icons version"
Is there any plans to update to @material-ui/core 3.0.2 ?

[2018-09-04 10:34] leMaik commented on #59
It should work just fine with 3.0.2, we just need to update the peer dependency to `^1.0.0 || ^3.0.0`. Do you want to submit a PR?

[2018-09-04 11:42] seta666 opened #60 "Cancel method"
There is a chance to run method on cancel button click?

[2018-09-04 15:06] leMaik commented on #60
You can use the `onCancelSearch` prop to set a function that is called when the cancel button is clicked.

[2018-09-04 15:06] #60 closed

[2018-09-04 16:54] #59 closed

[2018-09-21 16:59] Apollinaire opened #62 "Small width containers: icons overflow paper"
When the Searchbar is within a container with width under 280px the icons overflow the paper :
![sans titre](https://user-images.githubusercontent.com/5938985/45894661-58c53800-bdcf-11e8-95e1-3539f1f021e2.png)
To reproduce this, go to https://mui.wertarbyte.com/#material-ui-search-bar and resize the window until you see the search icon exit the paper container (this is where the screencap was take

[2018-09-22 16:13] #62 closed

[2018-09-22 16:15] leMaik commented on #62
@Apollinaire Thanks for reporting this, it's fixed in v1.0.0-beta.12

[2018-10-26 21:08] Faham opened #65 "Can't resolve material-ui/svg-icons/navigation/close"
I'm using:
"@material-ui/core": "^3.2.0",
"@material-ui/icons": "^3.0.1",

And this is the error I get:

[code]

[2018-10-26 21:31] leMaik commented on #65
Please update to material-ui-search-bar@1.0.0-beta.13. The version of the search bar that you are using does not work with Material-UI 1.0.0 or later.

[2018-10-26 21:31] #65 closed

[2019-02-03 15:22] czelusniakdawid opened #66 "Is there a way to lose focus (blur) after onRequestSearch?"
Hi @leMaik,

I've noticed that search input does NOT lose focus after submitting data (when `onRequestSearch` occurs). Is there a way to programmatically lose focus from search input immediately after `onRequestSearch`? Because of that keyboards on mobile devices don't hide when data are submitted and focus is still present on search input.

Thank you!

[2019-02-04 07:51] leMaik commented on #66
Hi @czelusniakdawid, there is no way to do that at the moment. Feel free to start a PR that adds `blur` and `focus` methods to the component, so that you can blur/focus it by getting a ref and calling `searchRef.blur()`. :+1:

Otherwise, I'll look into this soon™

[2019-02-04 09:00] czelusniakdawid commented on #66
Thanks for your answer! Temporary workaround without using `ref` is just calling:
[code]
inside `onRequestSearch`, but it would be nice to have `focus` and `blur` methods on the component.

[2019-02-04 09:01] leMaik commented on #66
That's an incredibly ugly, non-React-y work-around :sweat_smile: I'll leave this open until it is implemented.

[2019-02-09 13:26] hzburki commented on #33
I get the same error with version `"material-ui-search-bar": "^0.4.2",`. Switching to `material-ui-search-bar@beta` fixed it.

[2019-04-24 21:03] devans-k4 opened #67 "Close Icon onClick function"
Is there a way to have an onClick function triggered when the close icon is selected. My use case is that when the clear text icon is selected, my data is still filtered because there isn't a trigger to bring all the data back.

[2019-04-24 21:04] #67 closed

[2019-04-24 21:08] leMaik commented on #67
@devans-k4 Did you close this by accident or did you solve the issue?

[2019-04-24 21:34] devans-k4 commented on #67
I solved the issue thanks. I did not see the prop "onCancelSearch" in your npm docs but as soon as I left this issue, I saw the exact prop I was looking for in your GitHub docs. Thanks for the quick response!

[2019-04-24 22:04] leMaik commented on #67
Yeah, it's the `beta` tag on npm. We should finally bump the package version.
https://www.npmjs.com/package/material-ui-search-bar/v/1.0.0-beta.13

[2019-08-23 02:11] unprofessional opened #68 "Recommended implementation for the actual search-string submission?"
Stupid question: How should this actually be implemented? Is there something obvious I'm missing?

You have a Search Icon button, but it goes away when you type something into the input. The Search Icon button works, as can be determined by a `console.log` output in the `onRequestSearch` method, but it's being told to go `hidden` in the CSS when something is typed into the input. Instead, it's rep

[2019-08-23 13:12] fllprbt commented on #68
Hey @unprofessional,

it's been a while since I last followed this repo but I 'd like to contrib at some point (I will discuss it with TeamWertarbyte). Truly the whole behaviour confused me as well...

1) What I understand though from the api & examples is that the bar clearing behaviour (+ icon transitions and so on) is built-in the searchBar and you cannot opt-out (at least yet xD). Even if you

[2019-08-24 02:26] unprofessional commented on #68
@fllprbt , hey I really appreciate the detailed input. Ideally, I'd like there to be a submit button of some sort always there. It could just be a difference in UI/UX philosophy between what I'd like to see and what this component was designed for.

Either way, I ended up creating a simple custom component group using material's input and button, styled them up, and called it a day. Seemed easier

[2019-08-24 02:26] #68 closed

[2019-09-11 02:13] x4080 opened #69 "Theres warning with the new react version"
[code]

[2019-09-14 00:31] x4080 commented on #69
Maybe changing the function name to componentDidUpdate will solve it ? Havent tried it yet though

[2019-09-15 23:55] x4080 commented on #69
ok I tried this solution
[code]
And it works fine (componentWillReceiveProps become componentDidUpdate)

[2019-10-06 09:16] leMaik commented on #69
@x4080 Thank you for reporting this and for finding a work around. :+1: I'll update the component and release a fix shortly.

[2019-10-06 16:53] #66 closed

[2019-10-06 16:54] leMaik commented on #66
It's been a while, but this is finally implemented. There's an example here: https://github.com/TeamWertarbyte/material-ui-search-bar/blob/master/src/components/SearchBar/SearchBar.md

[2019-10-06 18:17] #69 closed

[2019-10-07 20:26] milufranz08 opened #71 "Return Value Issue with Beta version"
Whenever a user types something on search bar, the event replaces previous event value.
So when user types "Hello World", instead of showing that value, it replaces each letter so the only thing you could see at the end is "d"

[2019-10-16 10:17] leMaik commented on #71
Could you show a bit of code? Looks like you're using controlled mode and not updating the value prop properly. Use `defaultValue` instead.

[2019-10-30 14:08] georgehanlon opened #72 "Search text not displaying"
Code Snippet:
[code]
The `onChange` event is being triggered and successfully logging the value of `search` to console upon every key-up event, however the value is not actually being displayed in the search bar. So it appears to remain empty.

I think for some reason `this.state.value` is not being updated.

[2019-11-01 10:41] #72 closed

[2019-11-04 11:11] chitgoks commented on #39
has this been added? or in progress? i do not see the option in the readme

[2019-11-15 20:50] nags-git opened #73 "Issue : Module not found: Can't resolve 'material-ui/AutoComplete'"
When trying to use the component it is throwing error Issue : Module not found: Can't resolve 'material-ui/AutoComplete' n 'C:\..\..\node_modules\material-ui-search-bar\lib\components\SearchBar', after installing the all modules as required. this is happening in both enchaned and previous version of control also @searchbar.js

[2019-11-25 02:30] jpacora commented on #73
The same here.

[2019-11-27 05:30] yohanliyanage commented on #73
I came across the same issue as well. I switched to the pre-release channel (@beta) and that version works fine. Looks like this happens because Material UI v1 removed AutoComplete and the stable channel of this component depends on it. So it is not compatible with MUI V1.

[2019-11-30 23:31] sonicka opened #74 "Styling component on focus"
Hey there!

I'm trying to customize the look of your search bar and I'm stuck on one thing. I'm trying to give it a bottom border that changes color when search bar is focused. I have the bottom border showing, also managed to make it work on hover but it won't work when focused so I'm probably doing something wrong. This is what I tried:

I'm sending this to Search component:
`classes={{ root: cl

[2019-12-01 12:49] leMaik commented on #73
Indeed, the beta is for Material-UI v1 and later. It's been around for over a year, so even if it is tagged as "beta", it's just as stable and maintained as the "latest" version.

One day, I might release it as 1.0.0, but it's not this day. :sweat_smile:

[2019-12-01 12:49] #73 closed

[2019-12-01 12:59] leMaik commented on #39
@chitgoks as I said:

[2019-12-01 13:32] #71 closed

[2020-02-03 10:32] juliensl opened #75 "aria-label"
Hi !

We cannot add an aria-label for accessibility.
Can you add this property please ? :)

Thank you for your work !

Julien.

[2020-02-09 09:48] leMaik commented on #75
All undocumented props are passed through to the Input component. You should be able to use aria-label.

[2020-04-16 08:17] binodgope30 opened #78 "Can we add custom icon feature like voice icon to this"

[2020-04-18 14:52] ibarapascal opened #79 "Cannot read property 'prepareStyles' of undefined"
### Description

Material-UI dependency is not updated

[code]

And if we install the `"material-ui": "0.20.2"`, we got

[2020-04-18 15:02] #79 closed

[2020-06-24 08:09] leMaik commented on #78
You can already change the icon with the `searchIcon` prop.

[2020-07-17 14:28] #75 closed

[2020-07-17 14:28] juliensl commented on #75
Thank you @leMaik
Have a good day :)

[2020-09-11 04:53] chaos87 opened #84 "Move SearchIcon to the left"
Hi there,

First, thanks for the search bar, it works great for my use case!

One thing troubles me a tiny bit, I would like to move the Search Icon to the left side of the bar while keeping the Clear Icon on the right side. Now both Clear Icon and Search Icon are on the right side and they overlap each other rendering search icon useless when user inputs something.

I'm pretty sure it should be a

[2020-09-13 01:50] crayolakat opened #85 "Placeholder can go out of search bar container"
If a placeholder is longer than the search bar, then it will go out of the search bar container.

I think a way to handle this issue is to only show the part of the placeholder that fits, similar to HTML input placeholders, and then show the entire placeholder as a title when a user hovers their mouse over the search bar.

Screenshot of issue:
<img width="1440" alt="Screen Shot 2020-09-12 at 8 41

[2020-09-25 02:57] andy-t-wang commented on #8
how did you make the text white?

[2020-11-01 12:38] dardar4 opened #86 "Can we search without pressing enter ?"
Hi
the SearchBar is really nice but I was wondering is there a way to avoid the need to press enter everytime we want to make a search?

i don't understand why the search icon is being replaced with an X symbol when I'm starting to add some input?
if it only appears when the search bar is empty what is the use of the search icon?

i would prefer to have both icons whenever I write some text, one f

[2020-11-06 08:45] jersrej commented on #84
+1 for this

[2020-11-07 04:37] clymbe commented on #21
@leMaik Any suggestions on a possible implementation for the autocomplete feature? One idea is to use the Autocomplete component from @material-ui/lab/Autocomplete. However, its not part of @material-ui/core/. Would that be ok?

[2020-11-07 04:42] nithins commented on #21
@leMaik Any suggestions for an autocomplete implementation? I thought the Autocomplete component from @material-ui/lab/ could work. But my concern is that it was not part of @material-ui/core/.

[2020-11-08 03:38] alanyong91 opened #87 "@material-ui/icons/Clear need to install first?"
[code]

[2020-11-12 07:58] Glory-Victor opened #88 "onClearSearch is not triggered"
On click of cancel button is triggering onChange but not onClearSearch

[2020-11-19 11:48] AlbinCederblad commented on #74
Did you solve this? im having the same problem.

[2020-11-25 15:46] sonicka commented on #74
@AlbinCederblad Unfortunately I did not, sorry. I went with the default styling since it wasn't that important for the task back then. But in case you find the solution, please share it, I'm still curious.

[2020-12-02 13:18] falinsky commented on #88
There is no `onClearSearch` prop callback but `onCancelSearch` and it seems it's triggering fine.

[2021-02-05 06:26] adelin-b opened #90 "Cannot use variant or any props on the input"
It is not possible to target TextField to set it to variant 'outlined'

[2021-03-05 13:32] rofrol commented on #84
You can try with

[code]

and add search icon on the left

or

[code]

  - https://github.com/TeamWertarbyte/material-ui-search-bar/blob/7893ec610d6843e2e5d5f3f830484d50121d0d03/src/components/SearchBar/SearchBar.js#L25

[2021-03-07 12:01] M1sterPl0w commented on #74
@AlbinCederblad  and @sonicka

You can listen to onFocus and onBlur.

`<SearchBar
                            value= {query}
                            placeholder="Start you search here!"
                            searchIcon={<SearchIcon/>}
                            onChange={(newValue) => setQuery(newValue)}
                            className={searchBarFocus ? style.focusSearchbar : styl

[2021-03-09 09:50] #21 closed

[2021-03-09 09:57] leMaik commented on #87
That's why it is marked as a peer dependency: https://github.com/TeamWertarbyte/material-ui-search-bar/blob/master/package.json#L52

[2021-03-09 09:57] #87 closed

[2021-03-09 09:58] #88 closed

[2021-03-14 16:55] ManuC84 opened #93 "Can't use ref hook ???"
Hi

I was trying to use useRef on the searchbar component with no luck. I was using the inputRef prop as indicated. Is there anything I'm missing?

[2021-03-22 10:44] w0rldart opened #94 "Integration with DataGrid"
Is this extension compatible with DataGrid?  I've had a play with it, but I couldn't get it to work with DataGrid, meaning the search does not filter the data at all.

[2021-03-22 11:08] leMaik commented on #94
Maybe it is, but you'd have to wire up the value from this component with the filtering logic from the data grid yourself.

It's out of scope for this project but if you get it to work and can provide a code sandbox with an example, that would be cool :+1:

[2021-03-22 11:09] leMaik commented on #93
We override `inputRef` here: https://github.com/TeamWertarbyte/material-ui-search-bar/blob/master/src/components/SearchBar/SearchBar.js#L149

The solution would be to "split" that ref so that it can be used from the outside. PR welcome :upside_down_face:

[2021-03-22 11:10] leMaik commented on #90
There is no `TextField` used in the search bar. https://github.com/TeamWertarbyte/material-ui-search-bar/blob/master/src/components/SearchBar/SearchBar.js#L147

[2021-03-22 11:10] #90 closed

[2021-03-22 11:10] #94 closed

[2021-03-27 13:02] Martinnilsen99 opened #95 "Can't seem to autofocus the searchbar"
I am trying to automatically focus this component on render.

Have tried passing autoFocus as a prop, as the ReadMe states that "Any other properties supplied will be spread to the underlying Input component." Am I doing something wrong here?

[2021-03-28 22:57] Martinnilsen99 commented on #15
Someone with a solution here with React Hooks?

[2021-03-28 23:42] Martinnilsen99 commented on #95
#15

I have tried following these suggestions, but cant seem to get it working. I am using Typescript and Hooks

[2021-03-29 00:08] Martinnilsen99 commented on #95
Have tried using the following approach:

searchbar in view:
[code]

useFocus.ts
[code]
[source](https://gist.github.com/carpben/de968e377cbac0ffbdefe1ab56237573)

In which I thought was going to work, but it did not. I even increased the timer to a second instead of 100ms.

[2021-03-29 12:03] Martinnilsen99 commented on #95
I see that in [this example](https://codesandbox.io/examples/package/material-ui-search-bar), the autoFocus-prop is properly working. I've tested it, and it seems to work in jsx, but not in tsx.

[2021-03-29 12:21] Martinnilsen99 commented on #95
Fixed it locally by changing index.d.ts for now. You may have a better solution for this, but I just added `autoFocus?: boolean` to the interface SearchBarProps.

[code]

[2021-04-03 08:51] c-17 commented on #74
`<SearchBar ref={s => {if(s != null)s.focus(false)}}/>`

[2021-04-03 08:52] c-17 commented on #74
`<SearchBar ref={s => {if(s != null)s.focus()}}/>`

[2021-04-23 13:43] jerviechronix opened #98 "Cant change the Icon hover effect"
![image](https://user-images.githubusercontent.com/4970895/115879949-c8ff3300-a47c-11eb-856b-6ee8de9e49d4.png)

I cant override the hover effect of the Icon.

[2021-04-26 21:21] mrkaptep opened #99 "unable to resolve dependency tree for React 17"
[code]

Can we remove the peer dependencies of react or update it to work with react 16 or 17?

[2021-04-28 01:25] violetbrina commented on #99
Seconded, running into the same issue here.

[2021-06-16 16:09] tazbill opened #106 "FEATURE REQUEST: Give option to NOT clear the search when canceling search."
This originally came from me trying to override the cancel functionality all together.

[code]

This SHOULD have allowed me to keep the search icon visible and allow the user to click it when they wanted to search without worrying about knowing to hit enter.

However, the `setValue('')` is the first line called in the cancel method regardless of whether or not we have custom functions.

I propose

[2021-06-16 16:12] tazbill commented on #106
This would also solve the issue raised in #86

[2021-06-22 16:24] hongz1 commented on #99
I just installed under React 17.0.2 and no issues found for me

[2021-06-25 09:01] spideysri2802 opened #107 "how to set color to input and searchbutton"
i am currently using this to set a fixed color to the input text and the search icon in the searchbar. However, i was wondering how do i change the color inline?

.MuiInputBase-input,
.MuiSvgIcon-root {
  color: white !important;
}

I have tried using these, but they dont seem to work. im not sure where im going wrong.. ps, im very new to react and components..

classes={{
            input: {

[2021-06-29 05:54] #107 closed

[2021-07-19 05:58] Martinnilsen99 commented on #95
@leMaik Could you take a look at the PR? This issue can be closed

[2021-07-29 13:59] msueping commented on #99
I'm having the same problems as @mrkaptep showed. @hongz1, can you share what you've done to make this work with React 17.0.2?

npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: react-crud@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.2" from the root project
npm ERR!   peer react@"^16.8.0 || ^17.0.0" from @material-ui/c

[2021-07-29 18:49] hongz1 commented on #99
There is nothing I did something else. created react project by `npx create-react-app` and installed material-ui and material-ui-search-bar. Try clean your package cache and reinstall. As you see my dependency below, react version is 17.0.2 and material-ui-search-bar is 1.0.0

`"dependencies": {
    "@babel/preset-env": "^7.14.7",
    "@date-io/core": "^2.11.0",
    "@date-io/date-fns": "^2.11.0",

[2021-07-29 19:19] msueping commented on #99
@hongz1, I cleared my package cache and tried to install again using "npm i --save material-ui-search-bar" and got the same errors.

C:\temp\react-crud>npm i --save material-ui-search-bar
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: react-crud@0.1.0
npm ERR!   react@"^17.0.2" from the root project
npm ERR!   peer react@"^16.8.0 || ^1

[2021-07-29 19:46] hongz1 commented on #99
Is create-react-app package installed globally or did you installed on the fly using npx into your project dir?

[2021-07-29 19:50] msueping commented on #99
tbh, I don't recall. I *think* it was "on the fly". Is there any way for me to tell after the fact? I have to admit, I'm a noob at this stuff and am still learning the basics.

[2021-07-29 21:22] hongz1 commented on #99
I noticed missing dependency error message was shown although I could run it with react 17. sorry for the confusion.
Until they update dep compatible version for react 17, I guess there would be two options:

Option#1: uninstall react 17 and install react 16.14.0 (tested and this works)

Option#2: If you want to keep react 17, then download `material-ui-search-bar` source codes and copy "SearchBox

[2021-07-29 21:35] hongz1 commented on #99
or try opening node_modules > material-ui-search-bar > package.json and update react and react-dom version to 17.0.2 in `devDependencies` and `peerDependencies`.

[2021-07-30 13:00] msueping commented on #99
Thanks for those suggestions @hongz1. I'll work thru them to see if any can resolve the issue.

[2021-08-01 13:18] SnekCode opened #111 "Forked this project, republished and willing to help with features"
Hello,

I wanted to use this library for React 17+ and Next js but wasn't sure how to submit Pull requests in order to update features.
I forked this project and converted it to 100% typescript with jest tests.  I was able to publish the [new package to npm!](https://www.npmjs.com/package/@snekcode/mui-search-bar)

Heres [My fork](https://github.com/SnekCode/material-ui-search-bar) If the team lik

[2021-08-01 13:43] SnekCode commented on #106
@tazbill instead of a new property what if the check was for the onRequestSearch function and if that function existed then the search button wouldn't be replaced by the clear button.

I'm thinking this would look like:
[code]

https://user-images.githubusercontent.com/46388252/127773034-cb770db4-fe17-4a8a-96a3-dcf316535cf0.mov

What are your thoughts?

[2021-08-01 13:59] SnekCode commented on #98
Hello!

Start with a style hook like so
[code]
grab the classes object that is returned from that hook `  const classes = useStyles();`

then in your component use the classes
[code]
<img width="355" alt="Screen Shot 2021-08-01 at 3 55 56 AM" src="https://user-images.githubusercontent.com/46388252/127773493-7594e0e0-1eea-4610-b6b6-3e7bc4064590.png">

<img width="390" alt="Screen Shot 2021-08-01 at

[2021-08-01 17:26] leMaik commented on #111
Just open a PR if you want :)

[2021-08-04 03:39] SnekCode commented on #111
@leMaik I changed a lot but it should deploy the same,  I'll open a PR and we can have discussions :)

Updated somethings today to address #84 and #86 and #106.  See my [GH page](https://snekcode.github.io/material-ui-search-bar) for examples.

[2021-09-03 08:55] ardaa opened #114 "Does this project have support for material-ui 5 beta?"
While installing this library, npm gave the error below

[code]

Can I use this project with material ui 5? Any solutions?

Thanks

[2021-09-22 02:03] PaulHaze commented on #114
Yeah I am also wondering this. I had it working in a project that was using v4 of MUI. Just started a new project with v5 and this does not seem to be compatible at this stage....

[2021-10-04 08:30] ardaa commented on #114
Looks like it needs a huge commit to make it compatible. A lot of the components changed in v5.

[2021-10-04 08:30] #114 closed

[2021-11-25 00:17] binarykitchen commented on #111
What's happening with the fork and PR??

[2021-11-25 01:34] SnekCode commented on #111
No changes to Fork or PR since my initial opening of this thread.  No one has reached out to discuss the PR.

[2021-12-05 22:36] recursiveElk commented on #111
@SnekCode I tried your package and it appears to have an issue displaying the Clear button for me.

[2021-12-06 03:51] SnekCode commented on #111
@recursiveElk if you can open a ticket on my repo and give an example of how you are using it I'd be glad to solve the issue :)

[2021-12-10 05:17] yashaswinibprasad87 opened #118 "It is not working with latest version of @mui-material"
Provide a solution to work with v5.xxx

[2022-01-10 04:30] kimitaWanjohi opened #119 "About the datasource and auto complete in the action."
I don't think this works.

[2022-02-12 14:58] mayuri2307 commented on #118
+1. Please help!!

[2022-02-12 15:00] mayuri2307 commented on #85
+1

[2022-06-22 11:01] GideonMax commented on #119
explain?

[2022-06-25 05:29] umakantp commented on #118
`Module not found: Can't resolve '@material-ui/icons/Clear'`
vs what v5 has
`@mui/icons-material/Clear`

[2022-08-19 03:41] singlamanik12 commented on #99
**npm i material-ui-search-bar --force**

This worked for me

[2022-09-19 08:09] rashearth commented on #118
Hi, i think changing the SearchBar.js content changing will solve the issue.
Like below. line 18-line 20. to the newest mui content

But somehow, i get the same error... I would like your help to solve this issue.

[code]

[2022-10-02 06:04] mayuri2307 opened #129 "Material UI Search Bar is not compatible with React 17 and above"
Hello Team,

We are having many issues while solving the dependency tree conflict due due material ui search not being compatible with react 17. Kindly advise.

[2022-10-17 22:10] leMaik commented on #99
Fixed by #117 in the next release.

[2022-10-17 22:10] #99 closed

[2022-10-17 22:10] leMaik commented on #129
Fixed by https://github.com/TeamWertarbyte/material-ui-search-bar/pull/117 in the next release.

[2022-10-17 22:10] #129 closed

[2022-10-17 22:16] leMaik commented on #111
@SnekCode I pretty much lost track with this project (we don't use it anywhere currently). Your PR looks great, I just merged another PR that brings React >=17 support.

Maybe we should just make your PR v2.0.0 and be done with it? :thinking:

[2022-11-21 16:42] Spencillian commented on #119
I'm not sure why the documentation website [https://teamwertarbyte.github.io/material-ui-search-bar/#searchbar](https://teamwertarbyte.github.io/material-ui-search-bar/#searchbar) has dataSource and dataSourceConfig as props because when I just `npm i material-ui-search-box` these props just don't exist in the type definitions. The odd thing is that the autocomplete box works on the website, but i